body {
    background-color: #f8f9fb;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    border-radius: 10px;
    background-color: #ffe5b4;
    padding: 15px;
    margin: 10px;
}

header img {
    float: left;
    margin: 10px 15px 10px 0;
}


nav {
    margin: 10px;
    border-radius: 10px;
    background-color: #ffd6d6; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex !important;
    flex-direction: row;
}

nav ul li {
    flex: 1;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: #5a4e4e;
    font-weight: 500;
}

nav ul li.active a {
    border-bottom: 3px solid #a88beb;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #ffecec;
}


main {
    margin: 10px;
    display: flex;
    gap: 10px;
}


aside {
    width: 200px;
    background-color: #e6f0ff; 
    border-radius: 10px;
    padding: 10px;
}


#content {
    width: 100%;
    border-radius: 10px;
    background-color: #eafff5; 
    padding: 15px;
}

#content img {
    float: right;
    max-width: 100%;
    height: auto;
    margin: 0 0 15px 15px;
    padding: 3px;
    border: 2px solid #b0c4de;
    border-radius: 8px;
}


footer {
    border-radius: 10px;
    margin: 10px;
    padding: 10px 20px;
    background-color: #e6d9ff; 
    text-align: center;
    font-size: 0.9rem;
}


@media (max-width: 768px) {

    main {
        flex-direction: column;
    }

    aside {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
    }

    header img {
        float: none;
        display: block;
        margin: 0 auto 10px auto;
    }

    #content img {
        float: none;
        display: block;
        width: 100%;
        margin: 10px 0;
    }
}
